* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}body {
    height: 100vh;
    background-image: url('Daniel.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
}.conteudo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #43d30e;
    font-family: Arial, sans-serif;
}